pre {
    color: #fff;
    font-size: 16px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    background-color: #383838;
}

.login {
    margin: auto;
    text-align: center;

    .login_btn {
        margin-top: 100px;
    }
}